h1,h2,p{
    margin-top: 0px;
}

body{
    margin: 0;
}

h1{
    font-size: 48px;
    color: #2E7AD3;
  
}

h2{
    font-size: 32px;
    color: #104C90;
    margin-bottom: 15px;
   
}

p{
font-size: 16px;
}

header{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    background-color: #f1f1f1;
    padding: 25px;
}

.img{
    margin-bottom: 25px;
}

img{
    width: 450px;
}

.text .firstp{
    padding-bottom: 9px;
}

a{
    color: #ff8000;
}
a:hover, a:focus{
    color: aqua;
}